* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wrapper {
  width: 85%;
}

.top-bar {
  width: 100%;
  height: 3rem;
  margin-bottom: 10px;
  color: #f5f5f5;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
}

p {
  font-size: 0.88rem;
}

a {
  color: #f5f5f5;
  font-weight: bold;
}

.phone,
.sign-in {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

.sign-in p {
  font-size: 1.1rem;
}

.nav-bar,
.menu-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style-type: none;
  padding: 0.5rem;
}

header {
  width: 82.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li a {
  color: #2f2f2f;
  text-decoration: none;
}

header li a:hover {
  color: #e0872c;
  text-decoration: underline;
}

.menu-bar {
  gap: 50px;
  font-size: 1.1rem;
}

.menu-item {
  background: url(../img/car_parts/slash.png) no-repeat 0 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: min-content;
  gap: 15px;
}

.menu-item:hover {
  color: #e0872c;
  cursor: pointer;
  background: url(../img/car_parts/slash_orange.png) no-repeat 0 0;
}

.slash {
  width: 25px;
}

.search {
  border: 2px solid;
  padding: 10px;
  margin-left: 222px;
  display: flex;
  gap: 100px;
  align-items: center;
}

input,
button {
  border: none;
  outline: none;
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search:hover {
  border-color: darkgray;
}

.search button:hover {
  border: 1px solid;
  border-radius: 50%;
  height: 28px;
  /* TODO: rotiraj povećalo za n° ILI zarotiraj boje*/
  /* background-color: #2f2f2f; */
  /* background: url(../img/search_white.png) no-repeat 0 0; */
}

button:hover {
  cursor: pointer;
}

.minicart {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.minicart-items-count {
  color: #008421;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 123px;
  padding: 5px 10px;
  font-weight: bold;
}

.minicart-item,
.checkout {
  background-color: #008421;
  color: #f5f5f5;
  font-size: 0.85rem;
  padding: 1px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.minicart-item:hover,
.checkout:hover {
  background-color: #008000b0;
  outline: 2px solid #008421;
}

header::after {
  content: "";
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 33px;
  box-shadow:
    0px 8px 10px rgb(46, 46, 46, 0),
    0px 10px 10px rgb(46, 46, 46, 0.15);
  z-index: 100;
}

/* main div: */
.cart-items {
  position: relative;
}

main h1 {
  position: sticky;
  padding-left: 145px;
  font-size: 3.5rem;
}

.summary h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: -15px 0 15px 0;
}

.content {
  position: absolute;
  top: 180px;
  left: 145px;
  width: 1020px;
  height: 550px;
  font-weight: bold;
}

.grid-area-1 {
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.grid-area-2 {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  row-gap: 15px;
  align-items: center;
  border-bottom: 2px solid lightgray;
  margin-bottom: 15px;
}

main ul {
  padding: 0;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2/ 2 / 3;
  padding-left: 20px;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 1 / 3 / 2;
  padding-right: 10px;
}
.div5 {
  grid-area: 1 / 2 / 2 / 4;
}
.div6 {
  grid-area: 2 / 2 / 3 / 3;
}
.div7 {
  grid-area: 2 / 3 / 3 / 4;
}
.div8 {
  grid-area: 1 / 4 / 2 / 5;
  border: 2px solid;
  padding: 13px;
  margin: -25px 15px 0;
}
.div9 {
  grid-area: 1 / 5 / 2 / 6;
}
.div10 {
  grid-area: 1 / 6 / 2 / 7;
  display: flex;
  gap: 10px;
}

.div7,
.div8 {
  font-weight: normal;
}

.div8,
.div9 {
  display: flex;
  justify-content: center;
}

.div9 p {
  font-size: 1rem;
}

.div9,
.div10 {
  margin-top: -25px;
}

.grid-area-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.discount {
  display: flex;
  align-items: center;
}

.discount-code {
  height: 48px;
  margin: 0;
  padding: 0 20px;
}

.discount-button {
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 48px;
  padding: 14px 15px;
  font-weight: bold;
}

.discount-code:hover {
  border-right: 2px solid;
}

.discount-button:hover {
  color: #f5f5f5;
  background-color: #2f2f2f;
  border: 2px solid #2f2f2f;
}

.update-cart {
  padding: 16px 85px;
  color: #f5f5f5;
  background-color: #2f2f2f;
}

.update-cart:hover {
  background-color: #2f2f2fb0;
  outline: 2px solid #2f2f2f;
}

.summary {
  position: absolute;
  top: 180px;
  left: 1200px;
  width: 310px;
  height: 900px;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
}

.summary-top {
  background-color: lightgray;
  padding: 22px 20px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 34px;
  align-items: center;
}

.shrink-estimate-img {
  display: none;
}

.line {
  border-bottom: 2px solid #ffffff;
}

.summary-estimate {
  display: none;
  border-bottom: 2px solid #ffffff;
  font-size: 14px;
  height: 420px;
  padding-top: 20px;
}

.summary-estimate label {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.summary-estimate input {
  border: 2px solid;
  margin: 15px 0;
  padding: 15px 20px;
}

.country-input {
  display: flex;
  margin: 13px 0;

  /* ZA SELECT: */
  border: 2px solid;
  height: 49px;
}

/* ZA SELECT: */
.country-input select {
  outline: none;
  border: none;
  width: 95%;
  padding: 0px 15px;
}

/* ZA INPUT VERZIJU: */
/* .country-input input {
  border-right: none;
  width: 255px;
}
.country-input button {
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 50px;
  width: 55px;
} */

.radio-input {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

/* TODO: izmijeniti izgled radio button-a
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #2f2f2f;
} */

.radio-input-price {
  font-size: 12px;
  font-weight: normal;
  margin: -15px;
}

.summary-middle {
  background-color: lightgray;
  padding-left: 20px;
}

.subtotal-shipping {
  padding: 20px 20px 10px 0;
  display: flex;
  justify-content: space-between;
}

.subtotal-shipping-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shipping-flat_rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.flat-rate,
.subtotal-shipping-right {
  font-size: 14px;
  font-weight: normal;
}

.subtotal-shipping-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.subtotal-right,
.shipping-right {
  display: flex;
  margin-top: -12px;
}

.summary-bottom {
  background-color: lightgray;
}

.order-total {
  background-color: lightgray;
  font-size: 20px;
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total-price {
  font-size: 14px;
}

.checkout {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 20px;
  padding: 20px 38px;
}

.summary-bottom p {
  padding: 10px 0 25px;
  text-align: center;
}
.summary-bottom a {
  font-size: 13px;
  color: #2f2f2f;
}

footer {
  color: #f5f5f5;
  background-color: #2f2f2f;
  position: absolute;
  top: 1000px;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.footer-contact {
  display: flex;
  gap: 15px;
}

/*kada se proširi summary dolazi do sljedećih promjena: */
.summary-top-expanded {
  color: green;
}

.expand-estimate-img_hide {
  display: none;
}

.shrink-estimate-img_show {
  display: block;
}

.summary-estimate_show {
  display: block;
}

.footer-slider {
  position: relative;
}
